<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OAuth 2.0 Client Validation</title>
</head>
<body>
<h1>Enter your OAuth 2.0 Client Credentials</h1>
<form th:action="@{/authorize}" method="post" th:object="${oidcConfig}">
    <label for="type">type:</label><br>
    <input type="text" id="type" th:field="*{type}"><br><br>

    <label for="clientId">Client ID:</label><br>
    <input type="text" id="clientId" th:field="*{id}"><br><br>

    <label for="clientSecret">Client Secret:</label><br>
    <input type="password" id="clientSecret" th:field="*{password}"><br><br>

    <label for="issuerUri">主網址:</label><br>
    <input type="text" id="issuerUri" th:field="*{issuer}"><br><br>

    <input type="submit" value="Validate">
</form>
</body>
</html>
